ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.animation-icons:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.animation-icons_0-5:hover  {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.header {

    z-index: 100;

    // .header__container
    &__container {
        position: relative;
        gap: 20px;
        // padding: 0 10px;
        display: flex;
        justify-content: space-between;
    }

    // .header__logo
    &__logo {

        display: flex;
        gap: 10px;
        cursor: pointer;
        transform: translate(0, 0px);

        img {
            transform: translateY(5px);
            width: 40px;
            height: 50px;
        }
    }

    // .header__menu
    &__menu {}

    // .header__icon-block
    &__icon-block {}
}

.menu-header {
    font-size: 24px;

    // .menu-header__items
    &__items {
        display: flex;
        gap: 20px;
    }

    // .menu-header__item
    &__item {}

    &__item:hover {
        color: var(--maincolor);
        transition: 300ms ease;
    }
}

.header-icon-block {

    // .header-icon-block__search
    &__search {}

    // .header-icon-block__language
    &__language {}

    // .header-icon-block__login
    &__login {}

    // .header-icon-block__icon
    &__icon {

        img {
            transform: translateY(2px);
            width: 36px;
            height: 36px;
        }

    }
}



.header {

    // .header__icon-block
    &__icon-block {}
}

.header-icon-block {
    display: flex;
    gap: 20px;
    align-items: center;

    // .header-icon-block__search
    &__search {
        position: relative;
        display: flex;
        // align-items: center;
        // border: #fdfcfc 1px solid;
        width: 100%;

        input {
            position: absolute;
            height: 40px;
            top: 10px;
            left: 0px;
            width: 95%;

            border: var(--maincolor) 1px solid;
            border-radius: 5px;
            background-image: linear-gradient(195deg, #242323 0%, #000 100%);
            color: #fff;
            transform: translateX(5%);
        }
    }

    // .header-icon-block__login
    &__login {
        width: 70px;
        color: #fff;
    }
}

.btn {

    // .btn_sign-in
    &_sign-in {
        border: var(--maincolor) 1px solid;
        border-radius: 5px;
        padding: 10px 10px;
    }
}



.search {
    display: flex;
}


.ramka-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0 0 0 1px var(--maincolor);
    z-index: 5;
    cursor: pointer;
}

.ramka-3::before,
.ramka-3::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 3px #f1a156;
    animation: anim-ramka-3 8s linear infinite;
}

.ramka-3::before {
    animation-delay: -4s;
}

.ramka-3:hover::after,
.ramka-3:hover::before {
    background-color: #f1a156;
}

@keyframes anim-ramka-3 {

    0%,
    100% {
        clip: rect(0px, 45px, 3px, 0px);
    }

    25% {
        clip: rect(0px, 3px, 45px, 0px);
    }

    50% {
        clip: rect(47px, 45px, 45px, 0px);
    }

    75% {
        clip: rect(0px, 45px, 45px, 47px);
    }
}

.selected {
    color: var(--maincolor)
}

.header__left-block {
    display: flex;
    gap: 30px;
    align-items: center;
}