ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.animation-icons:hover {
    transform: scale(1.15);
    transition: transform 0.3s ease;
}

.animation-icons_0-5:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.header {

    z-index: 100;

    // .header__container
    &__container {
        position: relative;
        gap: 5px;
        // padding: 0 10px;
        display: grid;
        grid-template-columns: 50px 3fr 1fr;
        justify-content: space-between;
    }

    // .header__logo
    &__logo {

        display: flex;
        gap: 10px;
        cursor: pointer;
        transform: translate(0, 0px);

        img {
            transform: translateY(5px);
            width: 40px;
            height: 50px;
        }
    }

    // .header__menu
    &__menu {}

    // .header__icon-block
    &__icon-block {}
}

.menu-header {
    font-size: 24px;

    // .menu-header__items
    &__items {
        display: flex;
        gap: 20px;
    }

    // .menu-header__item
    &__item {}

    &__item:hover {
        color: var(--maincolor);
        transition: 300ms ease;
    }
}

.adult-title {
    white-space: nowrap;
}

.header-icon-block {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    // grid-template-columns: 1fr 50px 50px 100px 150px;

    //.header-icon-block__name-page
    &__name-page {
        white-space: nowrap;
        text-align: end;
        font-size: 18px;
        font-weight: 700;
        width: 180px;
        // border: #fff 1px solid;
        text-align: center;
    }

    // .header-icon-block__search
    &__search {}

    // .header-icon-block__language
    &__language {}

    // .header-icon-block__login
    &__login {}

    // .header-icon-block__icon
    &__icon {

        img {
            transform: translateY(2px);
            width: 36px;
            height: 36px;
        }

    }
}




.header {

    // .header__icon-block
    &__icon-block {}
}

.color-black {
    color: #000;
}

.header-icon-block {
    display: flex;
    gap: 20px;
    align-items: center;

    // .header-icon-block__search
    &__search {
        // position: relative;

        // align-items: center;
        // border: #fdfcfc 1px solid;
        width: 100%;

        input {

            // position: absolute;
            // height: 40px;
            // top: 10px;
            // left: 0px;
            // width: 95%;

            // border: var(--maincolor) 1px solid;
            // border-radius: 5px;
            // background-image: linear-gradient(195deg, #242323 0%, #000 100%);
            // color: #fff;
            // transform: translateX(5%);
        }
    }

    // .header-icon-block__login
    &__login {
        // width: 70px;
        // width: 100%;
        color: #fff;
    }
}

.btn {

    // .btn_standart
    &_standart {
        white-space: nowrap;
        border: var(--maincolor) 1px solid;
        border-radius: 5px;
        padding: 10px 15px;
    }
}



.search {
    display: flex;
    gap: 20px;
    // transform: translateY(5px);
    border: #1d1d1d 1px solid;
    align-items: center;
    padding: 0 10px;
}

.search__container {
    width: 100%;
}

.search-form {
    display: flex;
    gap: 20px;
    width: 100%;
}



.search-form__input {
    width: 100%;
    // border: #fff 1px solid;

}

.search-form__chkBox {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-form__year {
    width: 300px;
}


.ramka-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px auto;
    width: 40px;
    height: 40px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    box-shadow: inset 0 0 0 1px var(--maincolor);
    z-index: 5;
    cursor: pointer;
}

.ramka-3::before,
.ramka-3::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '';
    z-index: -1;
    margin: -5%;
    box-shadow: inset 0 0 0 3px #f1a156;
    animation: anim-ramka-3 8s linear infinite;
}

.ramka-3::before {
    animation-delay: -4s;
}

.ramka-3:hover::after,
.ramka-3:hover::before {
    background-color: #f1a156;
}

@keyframes anim-ramka-3 {

    0%,
    100% {
        clip: rect(0px, 45px, 3px, 0px);
    }

    25% {
        clip: rect(0px, 3px, 45px, 0px);
    }

    50% {
        clip: rect(47px, 45px, 45px, 0px);
    }

    75% {
        clip: rect(0px, 45px, 45px, 47px);
    }
}

.selected {
    color: var(--maincolor)
}

.header__left-block {
    display: flex;
    gap: 30px;
    align-items: center;
}



// атрибуты для появления и скрытия header

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    background-image: linear-gradient(195deg, #242323 0%, #000 95%, rgba(0, 0, 0, 0.5) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 20px 10px 15px;
}

.header.hidden {
    transform: translateY(-100%);
}

// Checkbox

.checkbox-wrapper-34 {
    --blue: #0D7EFF;
    --g08: #E1E5EB;
    --g04: #848ea1;
}

.checkbox-wrapper-34 .tgl {
    display: none;
}

.checkbox-wrapper-34 .tgl,
.checkbox-wrapper-34 .tgl:after,
.checkbox-wrapper-34 .tgl:before,
.checkbox-wrapper-34 .tgl *,
.checkbox-wrapper-34 .tgl *:after,
.checkbox-wrapper-34 .tgl *:before,
.checkbox-wrapper-34 .tgl+.tgl-btn {
    box-sizing: border-box;
}

.checkbox-wrapper-34 .tgl::selection,
.checkbox-wrapper-34 .tgl:after::selection,
.checkbox-wrapper-34 .tgl:before::selection,
.checkbox-wrapper-34 .tgl *::selection,
.checkbox-wrapper-34 .tgl *:after::selection,
.checkbox-wrapper-34 .tgl *:before::selection,
.checkbox-wrapper-34 .tgl+.tgl-btn::selection {
    background: none;
}

.checkbox-wrapper-34 .tgl+.tgl-btn {
    outline: 0;
    display: block;
    width: 57px;
    height: 27px;
    position: relative;
    cursor: pointer;
    user-select: none;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
}

.checkbox-wrapper-34 .tgl+.tgl-btn:after,
.checkbox-wrapper-34 .tgl+.tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 44%;
    height: 100%;
}

.checkbox-wrapper-34 .tgl+.tgl-btn:after {
    left: 0;
}

.checkbox-wrapper-34 .tgl+.tgl-btn:before {
    display: inline;
    position: absolute;
    top: 7px;
}

.checkbox-wrapper-34 .tgl:checked+.tgl-btn:after {
    left: 56.5%;
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn {
    background: var(--g08);
    border-radius: 20rem;
    padding: 2px;
    transition: all 0.4s ease;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:after {
    border-radius: 2em;
    background: #fff;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:before {
    content: "No";
    left: 28px;
    color: var(--g04);
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios+.tgl-btn:active:after {
    padding-right: 0.4em;
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn {
    background: var(--blue);
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn:active {
    box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn:active:after {
    margin-left: -0.4em;
}

.checkbox-wrapper-34 .tgl-ios:checked+.tgl-btn:before {
    content: "Yes";
    left: 4px;
    color: #fff;
}

// btn log out

.user-menu {
    position: relative;

    // Контейнер для всей области наведения
    &__container {
        display: inline-block;
        /* Позволяет контейнеру подстраиваться под содержимое */
        position: relative;
        /* Относительное позиционирование для кнопки */
        padding: 5px;
        /* Увеличиваем область наведения */
    }

    // .user-menu__name
    &__name {
        cursor: pointer;
        padding: 5px;
        /* Увеличиваем область наведения */
    }

    // .user-menu__btn
    &__btn {
        position: absolute;
        left: 0;
        /* Располагаем кнопку относительно контейнера */
        top: 100%;
        /* Располагаем кнопку под текстом */
        border: var(--maincolor) 1px solid;
        width: 100%;
        padding: 10px 0;
        background-color: #000;
        font-weight: 800;
        transition: all 180ms ease;
        opacity: 0;
        /* Скрыто по умолчанию */
        pointer-events: none;
        /* Отключаем возможность клика */
        transform: translateY(10px);
        /* Сдвигаем вниз для анимации */
        visibility: hidden;
        /* Полностью скрываем */
    }

    &_btn:hover {
        background-color: var(--maincolor);
        color: #000;
    }

    // Показываем кнопку при наведении на .user-menu__container
    &__container:hover .user-menu__btn {
        opacity: 1;
        /* Показываем элемент */
        pointer-events: auto;
        /* Включаем возможность клика */
        transform: translateY(0);
        /* Возвращаем на место для анимации */
        visibility: visible;
        /* Отображаем элемент */
    }
}

.btn_logout:hover {
    background-color: var(--maincolor);
    color: #000;
    border: #000 2px solid;

}

.card-confirm .p-dialog {
    width: 30% !important;
    transform: translate(0px, 100px) !important;
}

.card-confirm .p-dialog .p-dialog-content {
    padding: 10px !important;
}