<header class="header">
    <div class="header__container">
        <div class="header__left-block">
            <div><app-sidebar></app-sidebar></div>

        </div>

        <div class="header-icon-block__search search">
            <div>
                <input (keyup)="search(filterText)" [(ngModel)]="filterText" placeholder="Search..." type="text"
                    class="search-input" name="search" id="search"
                    [ngClass]="{'fadeinleft': isSearchVisible, 'fadeoutleft': !isSearchVisible}"
                    [style.display]="isSearchVisible ? 'block' : 'none'">
            </div>
            <div>
                <label for="search" (click)="toggleSearch()" class="ramka-3">
                    <span class="pi pi-search "></span>
                </label>
            </div>
        </div>
        <div class="header__icon-block header-icon-block">
            <button class="header-icon-block__icon animation-icons" [routerLink]="['/movie-list/To Watch']">
                <img src="/assets/icons/play.png" alt="">
            </button>
            <button class="header-icon-block__icon animation-icons" [routerLink]="['/movie-list/Favorites']">
                <img src="/assets/icons/favorites.png" alt="">
            </button>
            <div class="header-icon-block__login">
                <button class="btn_sign-in" tooltipPosition="bottom" pTooltip="This feature is coming soon!">Sign
                    in</button>
            </div>
            <div class="header__logo animation-icons_0-5" [routerLink]="['/home']">
                <img src="assets/icons/logo.svg" alt="Logo">
                <h3>MoviePulse</h3>
            </div>
        </div>
    </div>
</header>