<div class="home-block">
    <div class="home-block__container">
        <div class="home-block__titles">
            <div class="home-block__sub-title">Movie Pulse</div>
            <div class="home-block__title">Unlimited <span class="main-color">Entertainment</span>: </div>
            <div class="home-block__title">Movies, TVs shows, & More.</div>
            <div class="home-block__icons">
                <div class="home-block__items">
                    <!-- <div class="home-block__item-quality">{{ movieForHomeBlock?.quality }}</div> -->
                    <!-- <div class="home-block__item-genres">{{ movieForHomeBlock?.genres }}</div> -->
                    <div class="home-block__item-icons">
                        <!-- <div class="home-block__item-duration">{{ movieForHomeBlock?.duration  |
                                trasformTimeDuration }}</div> -->
                        <div class="home-block__item-rating">{{ movieForHomeBlock?.vote_average }}</div>
                    </div>
                </div>
            </div>
            <div class="home-block__button">
                <button class="btn_sign-in" tooltipPosition="bottom" pTooltip="This feature is coming soon!">Play
                    now</button>
            </div>
        </div>
        <div class="home-block__image"><img [src]="movieForHomeBlock?.poster_path" alt=""></div>
    </div>
</div>
<div class="movie-list-title">Movies <span class="main-color">trends</span></div>
<app-movie-list [movies]="movies" [loadNextPage]="loadNextPage.bind(this)"></app-movie-list>