.movie-card {

    // .movie-card__container
    &__container {
        width: 290px;
        border: #4e4e4e 1px solid;
        border-radius: 10px;
    }

    // .movie-card__image
    &__image {
        position: relative;
        cursor: pointer;
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
        }
    }

    // .movie-card__text
    &__text {
        padding: 5px;
    }

    // .movie-card__titleAndYear
    &__titleAndYear {
        display: flex;
        padding: 0 5px;
        align-items: center;
        max-height: 62px;
    }

    // .movie-card__title
    &__title {
        font-size: 18px;
        width: 100%;
    }

    // .movie-card__year
    &__year {
        color: var(--maincolor);
        font-size: 18px;
    }

    // .movie-card__items
    &__items {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px;
        justify-content: space-between;
    }

    &__item-icons {
        display: flex;
        gap: 25px;
    }

    // .movie-card__item-quality
    &__item-quality {
        padding: 2px 4px;
        border: var(--maincolor) 1px solid;
        // width: 100%;

    }

    // .movie-card__item-duration
    &__item-duration {
        position: relative;
    }

    // .movie-card__item-rating
    &__item-rating {
        position: relative;
    }

    // .movie-card__buttons
    &__buttons {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr;
        border: #000000 2px solid;
        border-radius: 0 0 10px 10px;
        padding: 0 5px 10px 5px;

        button {
            padding: 10px 5px;
            // opacity: 0.5;
        }
    }

    // .movie-card__addToFavorite
    &__addToFavorite {
        background: #003cff9d;
        box-shadow: 0 5px 0 #0026ff5d;
    }

    // .movie-card__addToWatch
    &__addToWatch {
        background: #ff000080;
        box-shadow: 0 5px 0 #ff000065;
    }
}

.btn-card {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    transition: 500ms ease;
    font-weight: 600;
}

.btn-card:hover {
    background: var(--maincolor);
    box-shadow: none;
    position: relative;
    color: #000000;

    top: 5px;
}

.movie-card__item-duration::before {
    content: url(/assets/icons/clock.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 5;
}

.movie-card__item-rating::before {
    content: url(/assets/icons/Star.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 5;
}

.selected-favorite {
    background-color: var(--maincolor);
}

.selected-toWatch {
    background-color: var(--maincolor);
}

.movie-card__image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.459) 50%, rgba(0, 0, 0, 0) 90%);
    transition: opacity 300ms;
    opacity: 0;
    z-index: 5;
}

.movie-card__image:hover::before {
    opacity: 1;
}

.movie-card__image::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 55%;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    background: no-repeat center center;
    background-size: contain;
    transition: width 400ms, height 400ms, background-color 400ms;
}

.movie-card__image:hover::after {
    content: '';
    width: 100px;
    height: 100px;
    background-image: url('../../../assets/icons/play.png');
}

// ================ detail view

.card {}

.flex {}

.justify-content-center {}

.movie-detail-card {

    // .movie-detail-card__container
    &__container {
        // padding: 20px;
        display: flex;
        gap: 25px;
    }

    // .movie-detail-card__title
    &__title {}

    // .movie-detail-card__image
    &__image {
        // flex: 0 0 10%;

        img {
            width: 300px;
        }

    }

    // .movie-detail-card__description
    &__description {
        // flex: 0 0 90%;
        // width: 100%;
    }
}

.btn {

    // .btn_sign-in
    &_sign-in {
        border: var(--maincolor) 1px solid;
        border-radius: 5px;
        padding: 10px 10px;
        width: 50%;
    }
}

.btn-test {
    border: var(--maincolor) 1px solid;
    border-radius: 5px;
    padding: 10px 10px;
    width: 50px;
    align-self: center;
    margin-bottom: 25px;
}

.movie-detail-card__flex-column {
    display: flex;
    flex-direction: column;
}

.movie-detail-card__button {
    padding: 25px;
    text-align: center;
}