<div class="movie-card" *ngIf="movie">
    <div class="movie-card__container">

        <p-button (onClick)="showDialog()">
            <div class="movie-card__image">
                <img [src]="imageUrlPoster" [alt]="movie.title">
            </div>
        </p-button>

        <div class="movie-card__text">
            <div class="movie-card__title">{{ movie.title }}</div>
            <!-- <div class="movie-card__titleAndYear">
            </div> -->
            <div class="movie-card__items">
                <span class="movie-card__year">{{ movie.release_date }}</span>
                <div class="movie-card__item-icons">
                    <div class="movie-card__item-rating">{{ movie.vote_average }}</div>
                    <div class="movie-card__item-quality">{{ movie.original_language }}</div>
                </div>
            </div>
        </div>
        <div class="movie-card__buttons">
            <button class="movie-card__addToFavorite btn-card" [ngClass]="{'selected-favorite' : (isFavorite$ | async)}"
                (click)="toggleFavoritesList()">Favorites</button>
            <button class="movie-card__addToWatch btn-card" [ngClass]="{'selected-toWatch' : (isToWatch$ | async) }"
                (click)="toggleWatchList()"> Watchlist </button>
        </div>

    </div>
</div>

<div class="movie-detail-card">
    <p-dialog class="detail-view" header="Movie Details" [modal]="true" [(visible)]="visible" (onHide)="hideDialog()"
        [style]="{ width: '90rem', height: '100vh'}" (onHide)="hideDialog()">
        <div class="movie-detail-card__flex-column">
            <div *ngIf="selectedMovie" class="movie-detail-card__container">
                <div class="movie-detail-card__image">
                    <img [src]="imageUrlPoster" [alt]="selectedMovie.title">
                </div>
                <div class="movie-detail-card__description">
                    <h2 class="movie-detail-card__title">{{ selectedMovie.title }}</h2>
                    <p><strong>Year:</strong> {{ selectedMovie.release_date }}</p>
                    <p><strong>Rating:</strong> {{ selectedMovie.vote_average }}</p>
                    <p><strong>Description:</strong> {{ selectedMovie.overview }}</p>
                    <p><strong>Language:</strong> {{ selectedMovie.original_language }}</p>
                </div>
            </div>
            <div class="movie-detail-card__button">
                <p-button label="Close" (onClick)="hideDialog()" class="btn-test" />
            </div>
        </div>
    </p-dialog>
</div>