.wrapper {
    display: grid;
    padding-right: 10px;


    // .wrapper__sidebar
    &__sidebar {
        background-color: var(--maincolor);

    }

    // .wrapper__main-block
    &__main-block {}

    // .wrapper__header
    &__header {}

    // .wrapper__main-content
    &__main-content {}
}

.wrapper__main-block {
    padding-top: 75px;
    /* Высота заголовка */
}