/* src/app/app.component.scss */
.login-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* Или другой цвет фона */
    z-index: 1000;
    /* Поверх всего остального */
}

.wrapper {
    // display: grid;
    padding-right: 10px;


    // .wrapper__sidebar
    &__sidebar {
        background-color: var(--maincolor);

    }

    // .wrapper__main-block
    &__main-block {}

    // .wrapper__header
    &__header {}

    // .wrapper__main-content
    &__main-content {
        position: relative;
        height: 86vh;
    }
}

.wrapper__main-block {
    padding-top: 100px;
    /* Высота заголовка */
}

.wrapper {
    height: 100vh;
    /* Занимает всю высоту окна */
    overflow-y: auto;
    /* Добавляем вертикальную прокрутку, если контент превышает высоту */

    /* Стилизация кастомного скроллбара */
    ::-webkit-scrollbar {
        width: 12px;
        /* Ширина скроллбара */
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f100;
        /* Цвет трека скроллбара */
        border-radius: 10px;
        /* Радиус закругления трека */
    }

    ::-webkit-scrollbar-thumb {
        background: var(--maincolor);
        /* Цвет ползунка скроллбара */
        border-radius: 10px;
        /* Радиус закругления ползунка */
        border: 3px solid #f1f1f1;
        /* Отступы внутри трека */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--maincolor);
        /* Цвет ползунка при наведении */
    }

    /* Дополнительная стилизация для других браузеров */
    scrollbar-color: var(--maincolor) #f1f1f100;
    /* Цвет ползунка и трека */
    scrollbar-width: thin;
    /* Ширина скроллбара в Firefox */
}