<ng-container>
    <div class="movie-list-cards">
        <h3>{{ selectedCategory }}</h3>
        <div class="allFilms">
            <cdk-virtual-scroll-viewport itemSize="1" class="example-viewport">
                <ng-container *ngFor="let movie of selectedMovies; trackBy: trackById">
                    <app-movie-card [movie]="movie" (addFavoritesList)="updateFavoriteMovies($event)"
                        (addWatchList)="updateWatchMovies($event)"></app-movie-card>
                </ng-container>
            </cdk-virtual-scroll-viewport>
        </div>
    </div>
</ng-container>