<ng-container *ngIf="selectedCategory == 'Home'">
    <div class="home-block">
        <div class="home-block__container">
            <div class="home-block__titles">
                <div class="home-block__sub-title">Movie Pulse</div>
                <div class="home-block__title">Unlimited <span class="main-color">Entertainment</span>: </div>
                <div class="home-block__title">Movies, TVs shows, & More.</div>
                <div class="home-block__icons">
                    <div class="home-block__items">
                        <div class="home-block__item-quality">{{ movieForHomeBlock?.quality }}</div>
                        <div class="home-block__item-genres">{{ movieForHomeBlock?.genres }}</div>
                        <div class="home-block__item-icons">
                            <div class="home-block__item-duration">{{ movieForHomeBlock?.duration?? 0 |
                                trasformTimeDuration }}</div>
                            <div class="home-block__item-rating">{{ movieForHomeBlock?.rating }}</div>
                        </div>
                    </div>
                </div>
                <div class="home-block__button">
                    <button class="btn_sign-in" tooltipPosition="bottom" pTooltip="This feature is coming soon!">Play
                        now</button>
                </div>
            </div>
            <div class="home-block__image"><img [src]="movieForHomeBlock?.imgLargePath" alt=""></div>

        </div>
    </div>
</ng-container>
<div class="movie-list-cards">
    <h3>{{selectedCategory}}</h3>
    <div class="allFilms">
        <ng-container *ngFor="let movie of selectedMovies; trackBy: trackById">
            <app-movie-card [movie]="movie" (addFavoritesList)="updateFavoriteMovies($event)"
                (addWatchList)="updateWatchMovies($event)"></app-movie-card>
        </ng-container>
    </div>
</div>