<div class="sidebar">
    <div class="sidebar__container">
        <nav class="sidebar__nav">
            <ul class="sidebar__items">
                <!-- <div class="header__logo">
                    <img src="assets/icons/logo.svg" alt="Logo">
                    <h3>MoviePulse</h3>
                </div> -->
                <li class="sidebar__item">All movies</li>
                <li class="sidebar__item">Now playing</li>
                <li class="sidebar__item">Popular</li>
                <li class="sidebar__item">Top rate</li>
                <li class="sidebar__item">Upcoming</li>
            </ul>
        </nav>
    </div>
</div>