@import "primeicons/primeicons.css";
@import url(https://fonts.googleapis.com/css?family=Imprima:regular);



:root {
    --maincolor: #FF7A00;
    --subMainColor: #f1a156;
    --backgroundColor: linear-gradient(195deg, #242323 0%, #000 100%);
}

.main-color {
    color: var(--maincolor);
}

body {
    font-family: Imprima;
    background-image: linear-gradient(195deg, #242323 0%, #000 100%);
    color: #fff;
    // padding: 1rem 1rem 1rem 1rem;
    margin: 0;
}


button {
    all: unset;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

//animation styles


.fadeinleft {
    animation: fadeInLeft 500ms ease-in-out forwards;
}

.fadeoutleft {
    animation: fadeOutLeft 500ms ease-in-out forwards;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

//rewrite styles

.dropdown-categories__item .p-dropdown {
    width: 200px;
    background-color: var(--subMainColor);
    border: var(--maincolor) 2px solid;
    border-radius: 6px;
    max-height: 300px;
}

.dropdown-categories__item .p-dropdown-label {
    font-size: 16px;
    color: var(--subMainColor);
    background-color: #242323;
}

.dropdown-categories__item .p-dropdown-items {
    font-size: 20px;
    color: var(--subMainColor);
    // background-color: #f1a156;
    background-color: #242323;
}

.dropdown-categories__item .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    color: var(--subMainColor);
}


.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):not(.p-disabled).p-focus {
    background: #123049;
    color: #ffffff;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
    background: #123049;
    color: #ffffff;
}

.dropdown-categories__item .p-dropdown-panel .p-dropdown-items-wrapper {
    max-height: 300px !important;
}

button.p-ripple.p-element.p-button.p-component {
    width: 100%;
}

.btn-close button.p-ripple.p-element.p-button.p-component {
    width: 200px;
}

.dropdown-categories {
    z-index: 1000;
}

.cdk-virtual-scroll-content-wrapper {
    display: flex !important;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


// Перезапись диалогового окна movie card
.p-dialog-header {
    background-color: #312e2d;
    color: #fff;
}

.p-dialog .p-dialog-content {
    border: var(--maincolor) 1px solid;
    // background-image: linear-gradient(195deg, #f1a156 0%, #FF7A00 100%);
    background-image: linear-gradient(195deg, #242323 0%, #000 100%);
    color: #fff;
    padding: 0;
}

// Перезапись для сайдбара
.p-component-overlay {
    height: auto !important;
}

.p-sidebar {
    background-color: #ff8100;
    // color: #000000;
}

// Перезапись для выхода пользователя
.card-confirm .p-dialog {
    width: 30% !important;
    transform: translate(0px, 100px) !important;
}

.card-confirm .p-dialog .p-dialog-content {
    padding: 10px !important;
}

.card-confirm .p-dialog .p-dialog-footer {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.card-confirm .p-dialog .p-dialog-footer .p-element {
    padding: 15px;
    border: #000 1px solid;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.card-confirm .p-dialog .p-dialog-footer .p-element:first-child:hover {
    background-color: var(--maincolor);
}

.card-confirm .p-dialog .p-dialog-footer .p-element:last-child:hover {
    background-color: var(--maincolor);
}

.card-confirm .p-dialog .p-dialog-footer .p-element:first-child {
    background-color: #123049;
    transition: 300ms ease-in-out;
}

.card-confirm .p-dialog .p-dialog-footer .p-element:last-child {
    background-color: #491212;
    transition: 300ms ease-in-out;
}

// imports
@import url(./app/shared/common.scss);
@import url(./app/shared/login.scss);